<div class="text-center">
  <textarea class="from-input" name="post-title">{{post.title}}</textarea>
  <p>Created on {{format_date post.dateCreated}}</p>
<div class="form text-center post">
<input class="form-input" type="hidden" value={{post.id}} name="post-id"/>
<textarea class="form-input" id="post-contents" name="post-contents">{{post.contents}}</textarea>
    <div class="col-md-4" id="delete-btn">
        <button class="btn btn-sm btn-delete" value="{{post.id}}">DELETE</button>
      </div>
      <div class="col-md-4" id="edit-post-form">
        <button class="btn btn-sm" value="{{post.id}}">EDIT</button>
      </div></div>
  </p>
</div>

<script src="/js/edit.js"></script>