<div class="text-center">
  <input class="from-input" type="text">{{post.title}}</h2>
  <p>Created by {{user.username}} on {{format_date post.dateCreated}}</p>
<div class="form text-center comment">
<input class="form-input" type="hidden" id={{post.id}} name={{post.id}}/>
<textarea class="form-input" id="comment-body" name="commment-body">{{post.contents}}</textarea>
    <button class="btn btn-primary" type="submit">submit:</button>
</div>
  </p>
</div>